# Data types & Attributes

In [1]:
import numpy as np
a1 = np.array([1, 2, 3])
a2 = np.array([[1, 1.0, 3.3],
              [4, 5, 6.5]])
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
                [[10, 11, 12],
                [13, 14, 15],
                [16, 17, 18]]])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [2]:
import pandas as pd
df = pd.DataFrame(a1)
df

   0
0  1
1  2
2  3

# Creating Arrays

In [7]:
inp = np.random.randint(-10, 10, size = (4, 4))
data = pd.DataFrame(inp)
data

   0  1   2   3
0  4  6   0   0
1  1  8   5   0
2  2 -3 -10 -10
3  3  8   2   9

In [12]:
print()